<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
    <style>
        header{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: cornflowerblue;
        }
        h2{
            text-align: center;
        }
        .logo{
            width:25px;
            height:25px;
        }
    </style>
</head>
<body>
    <header>
        <img src="../img/sports.jpg" class="logo">
        <h2>채팅방 제목</h2>
    </header>
    <main>

    </main>
</body>
</html>